

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->

  		<div ng-controller="DinnerCtrl" compact class="sidebar-nav">
                <span class="sidebar-brand">
                    <h4>My Dinner</h4>
                </span>
                <span>
                	People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)" id="numberOfGuests" ng-value="getNumberOfGuests()"/>
                </span>
                <span class="listDishName">
                    <hr>
                    <span id="t1">Dish name and </span><span id="t2">Cost</span>
                    <hr>
                </span>
                <table>
                  <span id="listDishes" ng-repeat="dish in fullMenuObjects">
                        <p ng-click="remove(dish[2])">
			                    {{dish[0]}}{{dish[1]}}
                        </p>
                  </span>
				        </table>
                <span id="listTotalCost">
                    <hr>
                    <p>Total cost: {{totalCost}}</p>
                </span>
                <span>
                    <a href="#!/menu" class="btn btn-primary" id="bigButton">Confirm Dinner</a>
                </span>

        </div>

<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace
this with Total price of the menu -->



Total number of guest: {{getNumberOfGuests()}}
